/* #ff0a54 */

/* Top bar stylings */
    .top-bar h3{
        color: #ff0a54;
        font-weight: 400;
    }

    .top-bar a{
        color: #A49f96;
    }

    .top-bar a:hover{
        color: #ff0a54;
    }
/* Top bar stylings */